.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  background-color: green;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 3px solid;
  border-color: black;
}

.stone {
  width: 56px;
  height: 56px;
  color: white;
  background-color: aliceblue;
  border-radius: 56px;
}

.turnDisplay {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  font-size: 4em;
  font-weight: bold;
  color: rgb(255 0 208);
}

.button {
  padding: 10px 20px;
  margin-top: 5px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  background-color: orange;
  border: black;
  border-radius: 5px;
}

.countStone {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  font-size: 4em;
  font-weight: bold;
  color: rgb(255 0 208);
}
